* {
    font-family:"Roboto", sans-serif;
}

.header,
.footer {
    display: flex;
    align-items: center;
    background-color: #1F2937;
}

.sectionone {
    padding-top: 3%;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 3%;
}

.headerlogo {
    font-weight: bold;
    padding-left: 250px;
    font-size: large;
}

.links {
    display: flex;
    font-size: small;
    margin-left: auto;
    padding-right: 400px;
    color: #e5e7eb;
    font-weight: 500;
}

.headerl {
    margin-right: 30px;
}

.headerl {
    text-decoration: none;
    color:#e5e7eb;
}

.sectionone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    color: #e5e7eb;
}

.sectiononetext {
    width: 300px;
    height: 250px;
}

.sectiononeimagediv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 405px;
    height: 205px;
    margin-right: 150px;
    background-color: grey;
}

.sectiononeimage {
    width: 400px;
    height: 200px;
}

.sectiononeh1 {
    font-weight: 500;
    font-size: 40px;
    padding-bottom: 20px;
}

.sectiononebutton {
    background-color: #3882f6;
    border-color: #3882f6 ;
}

.sectiontwoh1 {
    display: flex;
    justify-content: center;
    font-weight: 700px;
}

.boxonecontainer {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.sectiontwoboximage {
    width: 100px;
    height: 100px;
    border: 2px solid #1F2937;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
}

.sectionthree {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sectionthreeh3 {
    font-weight: 20px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
}

.sectionthreeh4 {
    margin-left: auto;
    margin-right: 400px;
    font-weight: bold;
}

.sectionfourbox {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #3882f6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sectionfour {
    padding-top: 50px;
}

.sectionfourheader {
    color: #e5e7eb;
    font-weight: 500;
    margin-left: 20px;
}

.sectionfourbutton {
    background-color: #3882f6;
    border-color: #e5e7eb;
}

.footer {
    display: flex;
    justify-content: center;
    color: #e5e7eb;
    font-weight: 500px;
}
