* {
    font-family:"Roboto", sans-serif;
}

.header,
.footer {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    height: 150px;
}

.sectionone {
    padding-top: 3%;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 3%;
    height: 400px;
}

.headerlogo {
    font-weight: bold;
    padding-left: 250px;
    font-size: 24px;
    color: #f9faf8;
}

.links {
    display: flex;
    font-size: small;
    margin-left: auto;
    margin-right: auto;
    color: #e5e7eb;
    font-weight: 500;
    font-size: 18px;
}

.headerl {
    margin-right: 30px;
    text-decoration: none;
    color:#e5e7eb;
}

.sectionone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    color: #e5e7eb;
}

.sectiononetext {
    width: 300px;
    height: 250px;
    font-size: 18px;
    color: #e5e7eb;
}

.sectiononeimagediv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 405px;
    height: 205px;
    margin-right: 150px;
    margin-top: 50px;
    
}

.sectiononeimage {
    border: #1F2937 solid;
    width: 500px;
    height: 300px;
    margin-left: 50px;
}

.sectiononeh1 {
    font-weight: bold;
    font-size: 48px;
    padding-bottom: 30px;
    color: #f9faf8;
}

.sectiononebutton {
    background-color: #3882f6;
    border-color: #3882f6 ;
    width: 150px;
    height: 50px;
}


.sectiontwoh1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 100px;
    font-size: 36px;
    color: #1F2937;
}

.boxonecontainer {
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    transition: 1s;
    cursor: pointer;
}

.boxonecontainer:hover {
    width: 350px;
    height: 350px;
}

.sectiontwoboximage {
    width: 250px;
    height: 200px;
    border: 2px solid #1F2937;
    transition: 1s;
}

.sectiontwoboximage:hover {
    width: 350px;
    height: 350px;
}


.boxes {
    display: flex;
    justify-content: space-evenly;
    height: 400px;
}

.boxonetext {
    text-align: center;
}

.sectionthree {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
}

.sectionthreeh3 {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
}

.sectionthreeh4 {
    margin-left: auto;
    margin-right: 400px;
    font-weight: bold;
}

.sectionfourbox {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #3882f6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sectionfour {
    padding-top: 50px;
    padding-bottom: 50px;
}

.sectionfourheader {
    color: #e5e7eb;
    font-weight: 500;
    margin-left: 20px;
}

.sectionfourbutton {
    background-color: #3882f6;
    border-color: #e5e7eb;
}

.footer {
    display: flex;
    justify-content: center;
    color: #e5e7eb;
    font-weight: 500px;
}
